#banner {
	background-image: url('images/cycling.jpg');
    background-position: top;
    background-attachment: fixed;
	width: 100%;
	margin: 0px;
	height: 500px;
}

h1#home {
    margin: 30px;
	font-size: 150px;
	text-align: center;
}

#welcome {
	padding: 20px;
	color: #666;
	display: block;
	float: right;
}

#content {
	height: 1000px;
	background-color: #444;
}

#content #blog {
	display: block;
	background-color: #AAA;
	margin-top: 20px;
	margin-left: 20px;
	height: 95%;
	width: 60%;
	float: left;
	text-align: center;
}

#content #blog a {
	margin: 20px;
	display: block;
}

#content #sponsors {
	display: block;
	background-color: #AAA;
	margin-top: 20px;
	margin-right: 20px;
	width: 30%;
	height: 95%;
	float: right;
	text-align: center;
}

#content #sponsors img {
	max-width: 100%;
}
	